@model ScavengerHunt.Web.Models.Team

@{
    ViewBag.Title = "Thanks!";
}

<h2>Welcome, @Html.DisplayFor(model => model.Name)!</h2>

Please share the following token with your teammates: <code>@Html.DisplayFor(model => model.Token)</code>