@using ScavengerHunt.Web.Controllers
@using ScavengerHunt.Web.Resources
@model IEnumerable<ScavengerHunt.Web.Models.Stunt>

@{
    ViewBag.Title = "Data Management";
}

<h2>@ViewBag.Title</h2>

Use this tool to export and import Teams in a human readable, json format.

<div class="row">
    <div class="col-md-6">
        <h4>Export</h4>
        @Html.Partial("DataExportPartial", new { ExportData = ViewBag.ExportData })
    </div>
    <div class="col-md-6">
        <h4>Import</h4>
        @Html.Partial("DataImportPartial", new { ExportData = ViewBag.ExportData })
    </div>
</div>

<h2>Delete Stunts</h2>
<p>Use this button to delete all the teams.</p>
@using (Html.BeginForm("DeleteAll", "Team"))
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Delete" class="btn btn-danger" />
}