@using Microsoft.Ajax.Utilities
@using ScavengerHunt.Web.Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Resources.HomeJumbotronTitle</h1>
    <p>
        <a href="https://github.com/scarpentier/ScavengerHunt" class="btn btn-primary btn-large">@Resources.SourceCode &raquo;</a>
        <a href="Team/Start" class="btn btn-primary btn-large">Join your team! &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Français</h2>
        <p>
            @Html.Markdown(@"
Les comptes et équipes sont déjà crées pour vous. Utilisez vos accès CS Games pour vous identifier.

Si vous le désirez, vous pouvez créer votre propre compte et joindre votre équipe. Le code d'équipe est `string.Format({0}{1}, user, pass)`
")
        </p>
    </div>
    <div class="col-md-6">
        <h2>English</h2>
        <p>@Html.Markdown(@"Accounts and teams are already created for you. Just use your CS Games credentials to log in.

If you wish so, you can also create your own account and join your university's team. Team tokens are `string.Format({0}{1}, user, pass)`
")</p>
    </div>
</div>
