@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serious Scavenger Hunt</h1>
    <p class="lead">Serious Scavenger Hunt is free, open source web applicaiton for building, running and managing great scavenger hunts.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register a new team</h2>
        <p>
            You must register a team first.
        </p>
        <p><a class="btn btn-default" href="/Team/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join an existing team</h2>
        <p>If your team is already created and you have your token</p>
        <p><a class="btn btn-default" href="/Team/Join">Join &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start your journey!</h2>
        <p>You are already part of a team and are ready to rock!</p>
        <p><a class="btn btn-default" href="/Stunt/">Start &raquo;</a></p>
    </div>
</div>